/* src/Board.css */
.container {
  margin: 2rem;
}

.row {
  display: flex;
  margin: 1px;
}

.row:nth-child(3),
.row:nth-child(6) {
  display: flex;
  margin: 1px;
  border-bottom: 3px solid black;
}

.col {
  flex: 1;
  margin: 1px;
}

.col:nth-child(3),
.col:nth-child(6) {
  flex: 1;
  margin: 1px;
  border-right: 3px solid black;
}

.form-control {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.readonly {
  background: #c9ccef;
}

.editable {
  background: #cec;
}

.conflict {
  background: #f00;
}

Button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background: #c9ccef;
  border: 1px solid #000;
  cursor: pointer;
}